<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Messages" tabIcon="chatboxes"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Battery" tabIcon="battery-charging"></ion-tab>
</ion-tabs>
