<!--
  Generated template for the BatteryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Battery Levels</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <strong>Lounge: </strong> {{this.globals.livingRoomBattery}}%
    </ion-item>
    <ion-item>
      <strong>Dining Room: </strong> {{this.globals.diningRoomBattery}}%
    </ion-item>
    <ion-item>
      <strong>Kitchen: </strong> {{this.globals.kitchenBattery}}%
    </ion-item>
    <ion-item>
      <strong>Toilet: </strong> {{this.globals.toiletBattery}}%
    </ion-item>
    <ion-item>
      <strong>Bedroom: </strong> {{this.globals.bedroomBattery}}%
    </ion-item>
  </ion-list>
</ion-content>
