<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <strong>MQTT Connection Status:</strong> {{this.globals.mqttStatus}}
    </ion-item>
    
    <ion-item>
      <ion-row align-content-center justify-content-center>
        <button ion-button (click)="connect()">Connect</button>
        <button ion-button (click)="disconnect()">Disconnect</button>
      </ion-row>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <strong>Last Seen Location:</strong> {{this.lastSeenLocation}}
    </ion-item>

    <ion-item>
      <strong>Last Seen Motion:</strong> {{this.timeLastSeen}}
    </ion-item>
    <ion-item>
      <strong>Minutes Since Last Motion:</strong> {{this.minutesSinceLastMotion}} minutes
    </ion-item>
  </ion-list>
  <div class="chart" style="display: block;">
    <canvas class="chart" baseChart
      id='chart'
      [data]='chartData'
      [labels]='chartLabels'
      [chartType]='chartType'>

    </canvas>
  </div>
</ion-content>
