<!--
  Generated template for the MessagesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Messages</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <strong>MGTT Connection Status:</strong> {{this.globals.mqttStatus}}
    </ion-item>
  </ion-list>
  <ion-list>

    <ion-item>
      <strong>Last Message Received:</strong> {{this.globals.lastMessageReceived}}
    </ion-item>


    <ion-item>
      <ion-input [(ngModel)]='messageToSend' placeholder="Message to send to MQTT">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-row align-content-center justify-content-center>
        <button ion-button (click)="sendMessage()">Send Message</button>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
